# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBwGrPbO_whHPUXp-fUIWWBedwZQ6g_5Nc
VITE_FIREBASE_AUTH_DOMAIN=alphadavis-real-estate.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=alphadavis-real-estate
VITE_FIREBASE_STORAGE_BUCKET=alphadavis-real-estate.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=555989897837
VITE_FIREBASE_APP_ID=1:555989897837:web:fa539a16753f1fde7fe564

# Webhooks
VITE_PRIVYR_WEBHOOK_URL=https://www.privyr.com/api/v1/incoming-leads/0vZfjMQw/tpUkt3Y0#generic-webhook

